body{
    height: 100vh;
    background-color: coral;
  
  }

.heading{
    margin-top: 3%;
    float: left;
    width: 100%;
    height: 50px;
}

.heading-left{
    float: left;
    width: 49%;
    height: 100%;
}

.heading-right{
    float: left;
    text-align: right;
    width: 49%;
    height: 100%;
}

.heading-right button{
    border: solid black;

}

.title{
    margin-top: 3%;
    float: left;
    text-align: center;
    width: 100%;
    height: 100px;


}

.mystery_number_container{
    margin-top: 1%;
    margin-left: 35%;
    float: left;
    text-align: center;
    width: 100%;
    height: 100px;
}

.mystery_number{
    width: 25%;
    height: 100%;
    border: solid rgb(255, 196, 0);
    font-size: 80px;
    padding-top: 2%;
    opacity: 1;
}

.controls{
    margin-top: 4%;
    float: left;
    text-align: center;
    width: 100%;
    height: 200px;
}

.controls-left{
    float: left;
    width: 49%;
    height: 100%;

}

.hints{
    border: solid rgb(201, 255, 146);
    float: left;
    margin-left: 25%;
    width: 50%;
    height: 50%;
}

.score{
    margin-top: 2%;
    float: left;
    width: 100%;
    height: 20%;

}

.highscore{
    float: left;
    width: 100%;
    height: 20%;
}

.controls-right{
    float: left;
    width: 49%;
    height: 100%;

}

.guess_input_text{
    border: solid rgb(201, 255, 146);
    margin-left: 25%;
    float: left;
    width: 50%;
    height: 50%;
}

.guess_input_text input{
    float: left;
    background-color: rgb(153, 254, 59);
    width: 97%;
    height: 50%;    
}

.check-button{
    margin-top: 2%;
    float: left;
    width: 100%;
    height: auto;
}